<% provide(:title, 'Recruit') %>

<% if logged_in? %>
  <% @user = current_user %>

  <h1>Here you can select your players:</h1>

  <div class="userselection">
    <%= render 'static_pages/myplayers' %>
  </div>


  <div class="players_show">
    <!-- <%= link_to "ALL", "#"%>
    <%= link_to "GK", "#"%>
    <%= link_to "DEF", "#"%>
    <%= link_to "MID", "#"%>
    <%= link_to "OFF", "#"%> -->

    <table>
      <thead>
        <th></th>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Pos</th>
        <th>Rat</th>
        <th>Val</th>
        <th>Pac</th>
        <th>Sho</th>
        <th>Pas</th>
        <th>Dri</th>
        <th>Def</th>
        <th>Phy</th>
        <th></th>
      </thead>
      <%= render 'static_pages/players' %>
    </table>

    <%= will_paginate @players %>
  </div>
<% else %>

  <div class="center jumbotron">
    <h1>Welcome to PROJECT FS</h1>
    <br><br>

    <p>Hey, Welcome to Fantasy Football Masters!!! <br><br><br>

      In this game you can create the football team of your dreams and use it to compete against your friends and other users. Your initial budget for recruiting players is limited, so choose wisely! As you win matches your budget will grow and you can pick better and better players to join your team. Remember that all matches are based on real life stats so keep yourself updated with our Stats and News Feed features. <br><br><br>

      Make the right choices and become a Fantasy Football Master! Good luck!  </p>

      <br><br>

    <p>Send a email to trsgarp@gmail.com to get your Account and be part of the Alfa Test</p>

    <%#= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  </div>
<br>
<% end %>
